{% extends 'mBase.html' %}

{% block content %}
	<body>
	<div class="content">
    		<main class="container">
    		<section class="content">
			<h1>Blogs</h1>
          		<div class="sub-title">Django Rocks</div>
    		</section>

		{% if posts %}
		<ul class="entries">		
		{% for post in posts %}


			<li>
  	 		    <a href="post/{{ post.id }}">
    		      		<h3>{{ post.title }}</h3></a>
                		<time>{{ post.posted }}</time>
				<div>{{ post.get_short_body }}</div>
    		    	   
    		        </li>
		{% endfor %}
 
    		</ul>
		{% endif %}
            <a href="new"><button class="btn">New Post+</button></a>
            </main>
	</div>

      

	<footer>
	&copy; CSI-VIT 2017
	</footer></body></html>
{% endblock content %}
